.product_card_wrapper {
  display: grid;
  padding: var(--padding);
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 110px), 1fr));
}

.product_card {
  font-size: var(--step-1);
  box-shadow: 0px 4px 4px rgba(0 0 0 / 0.2);
  container-type: inline-size;
  transition: 100ms linear;
  position: relative;
  overflow: hidden;

  &:hover {
    scale: 1.1;
  }

  .product_text {
    margin-top: 0.5rem;
    padding-inline: 2cqi;
  }

  .favorite_icon_wrapper {
    position: absolute;
    bottom: -5px;
    right: -10px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 1.2rem;
    z-index: 1;
    outline: 1px solid var(--accent-color);

    &.active {
      background-color: var(--accent-color);
    }
  }
}

@media (width < 992px) {
  .detailed_product_card {
    .card_details {
      padding: var(--padding);
    }

    & h2 {
      font-size: var(--step-3);
    }

    .size_selection {
      margin-block: var(--gap);
    }

    .flex_list {
      display: grid;
      gap: var(--gap);
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  .history_list_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--padding-min);
    gap: var(--gap);
  }
}

.detailed_product_card {
  & button {
    margin-inline: auto;
    display: block;
  }
}

@media (width > 992px) {
  .detailed_product_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 90vh;
    padding: var(--padding);
    gap: 3rem;

    & figure {
      max-height: 70vh;
      position: sticky;
      top: 9rem;
      --img-height: 100%;
    }

    .card_details {
      display: grid;
      gap: var(--gap);
    }

    .card_details_flex {
      display: flex;
      justify-content: space-between;
    }
  }

  .flex_list {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  .history_list_wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: var(--padding-min);
    gap: var(--gap);
  }
}

.searched_products_wrapper {
  display: grid;
  @media (width > 992px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.similar_products_wrapper {
  padding: var(--padding);
  overflow-x: scroll;

  .similar_products_div {
    max-width: 100%;
    display: flex;
    gap: var(--gap);

    & .product_card {
      min-width: 10rem;
    }
  }
}

.no_search_results_wrapper {
  min-height: 60vh;
  display: grid;
  place-content: center;
  text-align: center;
  justify-items: center;
  font-size: var(--step-1);

  & figure {
    width: 100px;
    aspect-ratio: 1;
    --mig-height: 100%;
  }
}

.quantity_state {
  display: flex;
  width: max-content;
  gap: 0.3rem;
  align-items: center;
  margin-top: 0.3rem;
  font-size: 1rem;

  & p {
    color: var(--accent-color);
  }
}
