@media (width > 992px) {
  .cart_home {
    display: grid;
    grid-template-columns: 1fr 20rem;
    padding: var(--padding);
    gap: 2rem;
  }

  .cart_product_card {
    --card-height: 8rem;
    display: grid;
    grid-template-columns: 10rem 1fr;
    max-height: var(--card-height);
    margin-top: var(--gap);
    font-size: var(--step-1);
    gap: 2rem;

    & figure {
      height: var(--card-height);
      --img-height: 100%;
      box-shadow: var(--shadow);
      border-radius: var(--radius);

      & img {
        border-radius: inherit;
      }
    }
  }

  .cart_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    padding-inline: var(--gap);
    border-radius: var(--radius);
    position: relative;
  }

  .remove_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--step-1);
    padding: 0.1em 0.2em;
    border-radius: 0px 0px 0px 10px;
  }

  .checkout_modal {
    position: sticky;
    top: 8rem;
    box-shadow: var(--shadow);
    padding: var(--gap);
    border-radius: var(--radius);
    max-height: max-content;

    > *:not(.checkout_btn) {
      padding-block: var(--gap);
      font-size: var(--step-1);
      border-bottom: 1px solid var(--alt-primary-color);
    }

    .checkout_btn {
      margin-top: var(--gap);
      display: block;
      margin-inline: auto;
    }
  }
}

.address_form_wrapper {
  display: grid;
  padding: var(--padding);
  grid-template-columns: 1fr auto;
  gap: 2rem;
  min-height: 100vh;
}

.address_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);

  & label {
    display: block;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  .additonal_info_input,
  .address_input {
    grid-column: span 2;
  }

  & input {
    outline: 1px solid var(--alt-primary-color);
    display: block;
    width: 100%;
  }
}

.select {
  width: 100%;
  outline: 1px solid var(--alt-primary-color);
  font-weight: 400;
  border-radius: var(--radius);
  font-family: var(--p-font);
  font-family: var(--p-font);
}

.btns {
  display: flex;
  gap: var(--gap);
  grid-column: 2;
  max-width: max-content;
  justify-self: end;

  > :first-child {
    --btn-bg: red;
  }
}

.confirm_order_page {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  padding: var(--padding-min);
}

.address_card {
  outline: 1px solid var(--alt-primary-color);
  padding: var(--padding-min);
  font-size: var(--step-1);

  & p {
    display: flex;
    gap: 2rem;
  }
}
