nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color);
  container-type: inline-size;
}

.avatar_image {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;

  & img {
    border-radius: 50%;
  }
}

.profile_modal {
  min-width: 250px;
  background-color: var(--primary-color);
  position: fixed;
  font-size: var(--step-1);
  top: 3rem;
  right: 1rem;
  min-height: 20vh;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0 0 0 / 0.2);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: var(--gap);
  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-behavior: allow-discrete;
  transition-duration: 500ms;

  .pencil_icon {
    position: absolute;
    z-index: 1;
    color: black;
    right: -0.7rem;
    top: 1rem;
  }

  &.active {
    display: grid;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  .profile_info {
    background-color: var(--alt-primary-color);
    padding: inherit;
    display: grid;
    justify-items: center;
    gap: 1em;
    border-radius: inherit;
    position: relative;

    .avatar_set {
      width: 40px;
    }

    .profile_input {
      width: 50px;
      top: 0;
      opacity: 0;
      position: absolute;
      border-radius: 50%;
      aspect-ratio: 1;
      cursor: pointer;

      &:hover {
        + .avatar {
          box-shadow: 0px 0px 8px rgba(0 0 0 / 0.2);
        }
      }
    }
  }

  .tool_options {
    display: grid;
    align-items: center;
    gap: var(--gap);
    height: 3rem;

    > :first-child:hover {
      background-color: var(--alt-primary-color);
    }
  }
}

.avatar {
  position: relative;
  &:hover {
    box-shadow: 0px 0px 15px rgba(0 0 0 / 0.2);
  }
}

.top_bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding-inline: var(--padding-min);
  gap: var(--gap);
  box-shadow: 0px 4px 4px rgba(0 0 0 / 0.2);

  .logo_icon {
    background-color: var(--alt-primary-color);
    width: 40px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-image: url("/assests/amaeton.jpg");
    background-size: cover;
    background-position: center;
  }

  .search_bar_form {
    justify-self: center;
    outline: 1px solid var(--accent-color);
  }
}

.nav_icons {
  display: flex;
  justify-content: end;
  align-content: center;
  font-size: 1.2rem;
  gap: var(--gap);

  > * {
    position: relative;
    display: grid;
    place-items: center;
    cursor: pointer;

    &:hover {
      --opacity: 0.5;
    }

    &::after {
      content: "";
      position: absolute;
      width: 150%;
      aspect-ratio: 1;
      background-color: var(--alt-primary-color);
      z-index: -1;
      border-radius: 50%;
      opacity: var(--opacity, 0);
    }
  }

  .icon {
    position: relative;
  }

  .count {
    position: absolute;
    top: -5px;
    right: -5px;
    color: var(--primary-color);
    font-size: 10px;
    background-color: var(--accent-color);
    display: grid;
    place-content: center;
    width: 20px;
    border-radius: 100vw;
    aspect-ratio: 1;
  }
}

.category_wrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: var(--gap);
  justify-content: center;

  @media (width < 992px) {
    overflow-x: scroll;
    justify-content: start;
  }

  > * {
    box-shadow: 0px 4px 4px rgba(0 0 0 / 0.2);
    padding: 0.3em 0.8em;
    border-radius: var(--radius);
    white-space: nowrap;

    &.active {
      outline: 1px solid var(--accent-color);
    }

    &:hover {
      outline: 1px solid var(--accent-color);
    }
  }
}

.suggestions_box {
  position: fixed;
  top: 3.2rem;
  background-color: var(--primary-color);
  width: 50%;
  translate: 50% 0;
  box-shadow: var(--shadow);
  padding: var(--padding-min);
  min-height: 10vh;

  @media (width < 992px) {
    width: 90%;
    translate: 1rem 0;
  }

  & li {
    list-style-type: none;
    font-family: var(--p-font);
    font-weight: 300;
    font-size: var(--step-1);
    cursor: pointer;

    &:hover {
      background-color: var(--alt-primary-color);
    }
  }
}
